apiVersion: apps/v1
kind: Deployment
metadata:
  name: rustgpt-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rustgpt
  template:
    metadata:
      labels:
        app: rustgpt
    spec:
      containers:
      - name: rustgpt-container
        image: registry.digitalocean.com/rustgpt-container-registry/imvdwv/eindopdracht-cicd-rustgpt:sha-0ba3b69  # Voeg de correcte tag hier toe
        ports:
        - containerPort: 3000
        imagePullPolicy: Always
      imagePullSecrets:
      - name: rustgpt-registry-secret
---
apiVersion: v1
kind: Service
metadata:
  name: rustgpt-service
spec:
  selector:
    app: rustgpt
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
  type: LoadBalancer
