apiVersion: apps/v1
kind: Deployment
metadata:
  name: rustgpt-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rustgpt
  template:
    metadata:
      labels:
        app: rustgpt
    spec:
      containers:
      - name: rustgpt-container
        image: registry.digitalocean.com/rustgpt-container-registry/${{ github.repository }}:${{ steps.meta.outputs.tags }}  # Wordt bijgewerkt door sed in de pipeline
        ports:
        - containerPort: 3000
        imagePullPolicy: Always  # Zorgt ervoor dat Kubernetes altijd de nieuwste image pulled
      imagePullSecrets:
      - name: rustgpt-registry-secret  # Verwijst naar de secret die je hebt aangemaakt
---
apiVersion: v1
kind: Service
metadata:
  name: rustgpt-service
spec:
  selector:
    app: rustgpt
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer
